<!-- # LoremIpsum: Owen Yaggy, Justin Morrill
# SoftDev Pd 1
# K20 -- Throw some forking STUYle on it
# 2021-11-30 -->

<!DOCTYPE html>
<html>

  <head>
      <title> StoryForge </title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <h1>
      Welcome to StoryForge! Are you ready to Forge?
    </h1>

    <h3>
      Login Here!
    </h3>
    <form action="/" method="POST">
      <label>Username:</label>
      <input type="text" name="username">
      <br><br>
      <label>Password:</label>
      <input type="password" name="password">
      <br>
      <p style="color:red;">{{error_message}}</p>
      <input type="submit" name="sub1" value="Login">
    </form>
    <br>
    <form action="/create_account" method="POST">
      <input type="submit" name="create" value="Create An Account">
    </form>
  </body>

</html>
